@mixin placeholderColor($plColor){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $plColor;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $plColor;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $plColor;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $plColor;
  }
}

@mixin transition($transValues){
  -webkit-transition: $transValues; /* Safari */
  transition: $transValues;
}

@mixin mediaQuery($minArg, $maxArg:0){

  @if $maxArg == 0 {
    @media screen and (min-width: #{$minArg}) {
      @content;
    }
  } @else {
    @media screen and (min-width: #{$minArg}) and (max-width: #{($maxArg)-1}) {
      @content;
    }
  }

}
