.modal {
  border-radius: $standarBorderRadius !important;
  background: #dee1e5 !important;
  box-shadow: none !important;
  border: none !important;
  color: #70767f !important;
  font-size: 16px !important;
  padding: 17px 24px !important;
  min-width: 575px !important;
  overflow: visible;

  .title {
    margin-bottom: 15px !important;
  }

  .buttons {
    margin-top: 17px;

    span.errorMessage {
      color: #912f38 !important;
      padding: 0 !important;
    }

    span.successMessage {
      color: #00b286 !important;
      padding: 0 !important;
    }
  }

  textarea {
    width: 100%;
    height: 90px;
    border-radius: $standarBorderRadius;
    border: none;
  }

  button {
    float: right !important;
  }

  .buttons a:hover {
    text-decoration: none;
  }

  span {
    font-size: 14px !important;
    color: #a7abb2 !important;
    line-height: 35px !important;
    padding-left: 30px !important;
    margin-right: 30px !important;

    &.addPhoto {
      background: url($imagesFolder+'bg_photo2.svg') left center no-repeat !important;
    }

    &.addVideo {
      background: url($imagesFolder+'bg_video2.svg') left center no-repeat !important;
    }
  }
}
.jquery-modal.blocker {
  z-index: 400 !important;
}
.close-modal {
  top: -30px !important;
  right: -32px !important;
  background: url($imagesFolder+'bg_close_btn.svg') center center no-repeat !important;
}
