$headerBgColor: #262728;
$standarBorderRadius: 3px;
$defaultTextColor: #5f6166;
$defaultFont: 'Open Sans', sans-serif;
$viewNavHeight: 56px;
$textLinks: #bec3cc;
$transitionDefaultDuration: 300ms;

$coverLayer: 100;
$headerLayer: $coverLayer+100;

$imagesFolder: 'assets/';

$responsive: (
  bigDesktop: 1200px,
  smallDesktop: 980px,
  tablet: 768px,
  smartphone: 480px
);
