@import "_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
}

%button {
  cursor: pointer;
  &:hover {
    background: rgba(255,255,255,.1);
  }
}

header {
  background: $headerBgColor;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;

  #logo {
    float: left;
  }

  #xtras {
    >div {
      float: left;
    }
    float: right;
    #addPost {
      @extend %button;
    }
    #search {
      background: $headerBgColor;
      border-radius: $standarBorderRadius;
      border: 1px solid #5f6166;
      color: #5f6166;
      height: 30px;
      width: 200;
      margin: 15px 20px 15px 10px;
      padding: 0 10px;
      border-collapse: collapse;
      background: url($imagesFolder+'bg_search.svg') center right no-repeat;
    }
    #user {
      height: 30px;
      margin: 15px 0;
      cursor: pointer;

      #profilePicture {
        border-radius: $standarBorderRadius;
        overflow: hidden;
        padding-right: 23px;
        background: url($imagesFolder+'bg_dropdown.svg') 38px center no-repeat;
      }

      #menu {
        display: block;
        position: absolute;
        background: #FFF;
        border-radius: $standarBorderRadius;
        padding: 0;
        top: 54px;

        >li {
          list-style-type: none;
          color: #70767f;
          font-family: $defaultFont;
          font-size: 12px;
          line-height: 30px;
          height: 30px;
          padding: 0 15px;
          border-bottom: 1px solid #dee1e5;
          position: relative;
          z-index: 111;

          &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 $standarBorderRadius $standarBorderRadius;
          }

          &:hover {
            background: rgba(0,204,153,.5);
          }
        }

        &:before {
          display: block;
          content: '';
          width: 8px;
          height: 8px;
          background: #FFF;
          position: absolute;
          top: -4px;
          right: 10px;
          transform: rotate(45deg);
          z-index: 110;
        }

      }
    }
  }
}
